@font-face {
    font-family: Roboto;
    src: url(/assets/fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: RobotoSlab;
    src: url(/assets/fonts/RobotoSlab-Regular.ttf);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto;
    font-size: 10px;
    font-weight: 400;
}

ul,
ol {
    list-style: none;
}

a {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-decoration: none;
    font-style: inherit;
    color: black;
}

/*HEADER*/
header a img{
    margin-top: 36px;
    width: 52.19px;
    height: 30.75px;
}

header{
    width: 309px;
    margin: auto;
}

/*MAIN*/

/*section-1*/

main section.section-1 div.section-content-1{
    width: 309px;
    margin: auto;
    margin-top:45px;
    margin-bottom: 8px;
}


main section.section-1 div.section-content-1 ul{
    display: flex;
    gap:11.65px;
}

main section.section-1 div.section-content-1 ul li{
    display: flex;
    align-items: center;
    gap:4.66px;
}
main section.section-1 div.section-content-1 ul li img{
    width: 10.25px;
    height: 9.79px;
}

/*section-2*/

main section.section-2 div.section-content-2{
    display: flex;
    flex-direction: column;
    width: 309px;
    margin: auto;
}

main section.section-2 div.section-content-2 div h1{
    font-family: RobotoSlab;
    font-size: 37px;
    font-weight: 700;
    line-height: 37.51px;
    height: 88.53px;
}

main section.section-2 div.section-content-2 div p{
    line-height: 15px;
    margin-top: 2.22px;
}

main section.section-2 div.section-content-2 img{
    width: 141.68px;
    height: 175.1px;
    align-self: flex-end;
    margin-bottom:38.64px;
}

/*section-3*/

main section.section-3 div.section-content-3{
    width: 309px;
    height: 93.19px;
    font-family: Roboto;
    margin: auto;
}

main section.section-3 div.section-content-3 div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color:#1E4681;
    color:#FFFFFF;
    padding:8.97px 12.59px 3.38px 12.13px;
    border-radius: 2.33px;
    width: 225.36px;
}

main section.section-3 div.section-content-3 p{
    font-size: 11px;
    line-height: 14.3px;
    font-family: RobotoSlab;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
}
main section.section-3 div.section-content-3 span{
    font-size: 10px;
    line-height: 13px;
    height: 21.27px;
    align-self: flex-end;
    text-align: right;
    margin-top: 6.92px;
}

/*section-4*/

main section.section-4 div.section-content-4{
    display: flex;
    flex-direction: column;
    width:309px ;
    margin: auto;
    margin-top: 75.06px;
}

main section.section-4 div.section-content-4 div h2{
    font-family: RobotoSlab;
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    height: 43.34px;
    margin-bottom: 8.39px;
}

main section.section-4 div.section-content-4 div p{
    font-size: 12px;
    line-height: 18px;
    width: 308.47px;
}

main section.section-4 div.section-content-4 img{
    width: 170.55px;
    height: 160.29px;
    align-self: center;
    margin-top:25px;
}

/*section-5*/
main section.section-5 div.section-content-5{
    width: 309px;
    margin: auto;
}

main section.section-5 div.section-content-5 img{
    display: none;
}

main section.section-5 div.section-content-5 ul{
    margin-top: 45.71px;
    display: grid;
    width: 207px;
    gap: 33.33px;
    grid-template-columns: auto auto;
}

main section.section-5 div.section-content-5 ul li{
    width: 86px;
}
main section.section-5 div.section-content-5 ul li p:first-child{
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    height: 18.76px;
}

/*section-6*/
main section.section-6 div.section-content-6{
    width: 309px;
    margin: auto;
}

main section.section-6 div.section-content-6 h2{
    font-family: RobotoSlab;
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    margin-top: 68px;
    height: 43.34px;
    margin-bottom: 16.66px;
}

main section.section-6 div.section-content-6 ul{
    width: 55%;
    display: grid;
    gap: 33.33px;
    grid-template-columns: auto;
}

main section.section-6 div.section-content-6 ul li p:first-child{
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: #1E4681;
}

/*section-7*/
main section.section-7 div.section-content-7{
    width: 309px;
    margin: auto;
}

main section.section-7 div.section-content-7 h2{
    margin-top: 73px ;
    font-family: RobotoSlab;
    font-size: 26px;
    font-weight: 700;
    line-height: 26.36px;
    height: 43.34px;
}

main section.section-7 div.section-content-7 ul{
    list-style-type:disc;
}